<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="4" halign="left">document</th>
    </tr>
    <tr>
      <th>tat</th>
      <th>1 - 2 Hours</th>
      <th>1 Hour</th>
      <th>2 - 3 Hours</th>
      <th>Total</th>
    </tr>
    <tr>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Aishwarya</th>
      <td></td>
      <td>100.00</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Cheluvaraju</th>
      <td></td>
      <td>100.00</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Divyamol</th>
      <td></td>
      <td>100.00</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Druva</th>
      <td>19.23</td>
      <td>80.77</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Gamya</th>
      <td></td>
      <td>100.00</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Jijo</th>
      <td></td>
      <td>100.00</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Lexi</th>
      <td></td>
      <td>100.00</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Maria</th>
      <td>5.56</td>
      <td>94.44</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Prathibha</th>
      <td>3.33</td>
      <td>96.67</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Rahul</th>
      <td></td>
      <td>100.00</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Tajamulla</th>
      <td>9.52</td>
      <td>90.48</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Tejashree</th>
      <td>19.05</td>
      <td>80.95</td>
      <td></td>
      <td>100</td>
    </tr>
    <tr>
      <th>Yashvantha</th>
      <td>8.11</td>
      <td>89.19</td>
      <td>2.7</td>
      <td>100</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>6.96</td>
      <td>92.61</td>
      <td>0.43</td>
      <td>100</td>
    </tr>
  </tbody>
</table>