<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="5" halign="left">Count</th>
    </tr>
    <tr>
      <th>type</th>
      <th colspan="2" halign="left">Lines</th>
      <th colspan="2" halign="left">Orders</th>
      <th>Total</th>
    </tr>
    <tr>
      <th>Order_Type</th>
      <th>OR</th>
      <th>RE</th>
      <th>OR</th>
      <th>RE</th>
      <th></th>
    </tr>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cheluvaraju</th>
      <td>34</td>
      <td></td>
      <td>14</td>
      <td></td>
      <td>48</td>
    </tr>
    <tr>
      <th>Divyamol</th>
      <td>50</td>
      <td></td>
      <td>24</td>
      <td></td>
      <td>74</td>
    </tr>
    <tr>
      <th>Druva</th>
      <td>202</td>
      <td></td>
      <td>27</td>
      <td></td>
      <td>229</td>
    </tr>
    <tr>
      <th>Gamya</th>
      <td>17</td>
      <td></td>
      <td>6</td>
      <td></td>
      <td>23</td>
    </tr>
    <tr>
      <th>Jijo</th>
      <td>27</td>
      <td>3</td>
      <td>16</td>
      <td>3</td>
      <td>49</td>
    </tr>
    <tr>
      <th>Lexi</th>
      <td>109</td>
      <td></td>
      <td>39</td>
      <td></td>
      <td>148</td>
    </tr>
    <tr>
      <th>Prathibha</th>
      <td>41</td>
      <td></td>
      <td>20</td>
      <td></td>
      <td>61</td>
    </tr>
    <tr>
      <th>Rahul</th>
      <td>111</td>
      <td></td>
      <td>14</td>
      <td></td>
      <td>125</td>
    </tr>
    <tr>
      <th>Sandeep</th>
      <td>87</td>
      <td></td>
      <td>23</td>
      <td></td>
      <td>110</td>
    </tr>
    <tr>
      <th>Tajamulla</th>
      <td>38</td>
      <td></td>
      <td>7</td>
      <td></td>
      <td>45</td>
    </tr>
    <tr>
      <th>Yashvantha</th>
      <td>46</td>
      <td></td>
      <td>30</td>
      <td></td>
      <td>76</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>762</td>
      <td>3</td>
      <td>220</td>
      <td>3</td>
      <td>988</td>
    </tr>
  </tbody>
</table>